 <div class="cta_footer">
    <div class="container">
      <div class="cta d-flex">
        <div class="img_cta">
          <img src="{{site.url}}/wp-content/uploads/2024/01/dottore-3D.png" class="doctor_cta img-fluid">         
        </div>
        <div class="text_cta">
          <h3 class="fm-rale text-center fw-bolder rosso">Hai domande <br class="d-block d-md-none"/> per noi?</h3>
          <p class="text-center fm-roboto">Restiamo in contatto, siamo qui per rispondere a tutte le tue domande!</p>
        </div>
        <div class="cta_button">
          <a href="{{site.url}}/contatti" class="btn btn-cta fm-roboto">Contattaci</a>
        </div>
      </div>
    </div>
  </div>