<div class="container-fluid p-0">
    <div class="bg-header_page">
        <div class="container">
            {% if post.sottotitolo %}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text">
                        <h1 class="text-white fm-rale fw-bolder">{{ post.title }}</h1>
                        <p class="text-white">{{ post.sottotitolo }}</p>
                    </div>
                    {% if post.icona %}
                        <div class="img">
                            <img src="{{ post.icona }}" />
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="d-flex justify-content-start align-items-center" style="min-height:100px;">
                    <h1 class="text-white fm-rale fw-bolder">{{ post.title }}</h1>
                </div>
            {% endif %}
        </div>
    </div>
</div>
