{% block footer %}
<div class="container-fluid p-0">
    <div class="footer">
        <div class="footerlink">
            <ul class="list-inline m-0">
                <li class="link link_footer list-inline-item fm-roboto">
                    <a href="/privacy" class="links">Privacy Policy</a>
                </li>
                <li class="link link_footer list-inline-item fm-roboto">
                    <a href="/informativa" class="links">Informativa legale</a>
                </li>
                <li class="link link_footer list-inline-item fm-roboto">
                    <a href="/cookie" class="links">Cookies Policy</a>
                </li>
            </ul>
        </div>
        <div class="logo-footer">
        <img src="/wp-content/uploads/2024/01/logo_zambon.svg" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}
