{% extends "base.twig" %}

{% block content %}
<div class="container-fluid p-0">
	  {% include 'partial/header_page.twig' %}

			<div class="container mt-5 mb-5">
			<section class="article-content post-type-{{post.post_type}}" id="post-{{post.ID}}">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
	</div><!-- /content-wrapper -->
</div>
{% endblock %}