{% extends 'base.twig' %}

{% block content %}
  <div class="container-fluid p-0">
    <div class="container mt-5 mb-5">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Contattaci</button></h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> 
              <p>Se desidera contattare direttamente il servizio  può:</p>
                Telefonare a: +39 02 66524038
                Inviare un fax: +39 02 66524038
                Inviare un’email: drugsafety@zambongroup.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
