{% extends 'base.twig' %}

{% block content %}
  <div class="container-fluid ">
  <div class="banner-red">
    <div class="container">
      <div class="banner ">
          <div class="row d-flex align-items-center">
            <div class="col-6">
                <div class="text-banner_home">
                    <h2 class="h2-title text-white">
                        «La dieta occidentale è carente di folati e non sufficiente ad assicurarne 
                        i fabbisogni.»
                    </h2>
                </div>
            </div>
            <div class="col-6">
                <div class="img-banner_home">
                    <img src="{{site.url}}/wp-content/uploads/2024/01/img_medici.png" class="img-fluid">
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="banner-seconddary">
      <div class="container">
        <div class="text-banner_second">
          <p class="text-center fm-roboto">Alleati per i Folati nasce come spazio di collaborazione tra Specialisti e MMG, alleati nel condividere informazioni sul tema della carenza di folati e diffondere la corretta 
          informazione sull’importanza dei folati nella vita.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
